<plugin name='grails-validator' version='0.2.3' grailsVersion='2.0 &gt; *'>
  <author>Your name</author>
  <title>Grails Validator Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/grails-validator</documentation>
  <type>GrailsValidatorGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>